html,
body {
	padding: 0;
	margin: 0;
	background-image: url("img/sky_gradient.jpg");
}

body {
	font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
	color: #111111;
}

#drop, #console {
	margin-left: 40px;
	margin-right: 40px;
}

#drop {
	margin-top: 40px;
	height: 200px;
	border-radius: 10px;
	border: 1px dashed #FFFFFF;
	background-image: url("img/folder-downloads.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

#console {
	margin-top: 20px;
	background-color: #111111;
	box-shadow: inset 0px 3px 2px black;
	height: 300px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
